* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', sans-serif;
}

.navbar {
  background: white;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  position: sticky; 
  top: 0; 
  z-index: 100; 
}

#navbarlogo {
  color: green;
  font-size: 40px;
  margin-left: 190px;
}

.navbarmenu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; 
  margin-right:20px ;
}

a {
  text-decoration: none;
}

.navbaritem {
  margin-left: 50px; 
}

.navbarlinks {
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;
  cursor: pointer;
}

.navbarlinks:hover {
  border-bottom: 2px solid black;
}

.shopping-cart-icon {
  width: 43px; 
  height: auto; 
  position: absolute;
  top: 10px; 
  right: 8px; 
  cursor: pointer;
}

.login-icon{
  width: 30px; 
  height: auto; 
  position: absolute;
  top: 10px; 
  right: 95px; 
}

.search-icon{
  width: 30px; 
  height: auto; 
  position: absolute;
  top: 10px; 
  right: 55px; 
  cursor: pointer;
}


@media screen and (max-width: 800px) {
  .navbar {
    flex-direction: column;
    height: auto;
  }
  #navbarlogo {
    margin-left: 0;
  }
  .navbarmenu {
    flex-direction: column;
    align-items: center;
  }
  .navbaritem {
    margin-left: 0;
  }
  .shopping-cart-icon, .login-icon, .search-icon {
    position: static;
    margin: 10px auto;
  }
}

body {
  background-size:contain;
  background-position: center;
  position: relative;
  background-image: url(images/theGOAT.jpg);
  background-repeat: repeat;
}

section {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}

.contactUsContainer {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.contactHeader {
  margin-bottom: 50px;
  text-align: center;
}

.contactHeader h2 {
  color: green;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 10px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.contactHeader p {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 20px; 
}


@media screen and (max-width: 480px) {
  .contactHeader p {
    font-size: 16px; 
  }
}

.contactBody  {
  display:flex;
  align-items:center;
  justify-content: space-between;
}

.contactItems {
  display: flex;
  margin-bottom: 30px;
}

.contactIcons {
  height: 70px;
  width: 70px;
  background-color: blanchedalmond;
  text-align:center;
  border-radius: 60%;
}

.contactIcons i {
  font-size: 35px;
  line-height: 70px;
}

.contactUsInfo {
  margin-left: 25px;
}

.contactUsInfo h4 {
  color: green;
  font-size: 25px;
  margin-bottom: 10px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.contactUsInfo p {
  color: white;
  font-size: 1em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.contactUsForm {
  background-color: white;
  padding: 30px;
  width: 60%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.contactUsForm h2 {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
  color: black;
}

.contactUsForm .customerInput {
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.contactUsForm .customerInput input,
.contactUsForm .customerInput textarea{
  width: 100%;
  padding: 10px;
  font-size: 20px;
  margin: 5px 0;
  border: none;
  border-bottom: 3px solid black;
  outline: none;
  resize: none;
}

.contactUsForm .customerInput span {
  position: absolute;
  left: 0;
  padding: 2px;
  font-size: 20px;
  margin: 5px 0;
  pointer-events: none;
  transition: 0.5s;
  color: gray;
}

.contactUsForm .customerInput input:focus ~ span,
.contactUsForm .customerInput textarea:focus ~ span{
  color: black;
  font-size: 10px;
  transform: translateY(-10px);
}

.contactUsForm .customerInput input[type="submit"]
{
  width: 100%;
  background: green;
  color: white;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border: 1px solid green;
  transition: 0.5s;
}

.contactUsForm .customerInput input[type="submit"]:hover
{
  background: white;
  color: green;
}


@media only screen and (max-width: 768px) {
  .contactBody {
    flex-direction: column;
  }
}


@media only screen and (max-width: 480px) {
  .contactUsContainer {
    padding-left: 10px;
    padding-right: 10px;
  }
}


footer{
  display: flex;
  flex-wrap: wrap;
}

.leftFooter{
  flex: 2;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px;
}

.footerTitle{
  font-size: x-large;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.leftFooterList{
  padding: 0px;
  list-style: none;
  margin-top: 15px;
}

.leftListItems{
  margin-bottom: 20%;
  color: black;
  cursor: pointer;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}


.rightFooter{
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rightFooterTitle{
  font-size: large;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.footerInput{
  padding: 5px;
  margin-top: 20px;
}

.footerButton{
  padding: 5px;
  background-color: black;
  color: white;
  cursor: pointer;

}

.footerIcons{
  display: flex;
}

.footerIcon{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}


@media only screen and (max-width: 768px) {
  .leftFooter, .rightFooter {
    flex: 1 0 80%;
  }
}


@media only screen and (max-width: 480px) {
  .leftFooter, .rightFooter {
    flex: 1 0 80%;
  }
  .footerIcon{
    width: 15px;
    height: 15px;
  }
}

.copyright{
  font-weight: 300;
  font-size: 14px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.leftListItems a {
  text-decoration: none; 
  color: inherit; 
}

.leftListItems a:hover {
  text-decoration: underline; 
}