*{ 
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', sans-serif;
}

.navbar {
  background: white;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  position: sticky; 
  top: 0; 
  z-index: 100; 
}

#navbarlogo {
  color: green;
  font-size: 40px;
  margin-left: 190px;
}

.navbarmenu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; 
  margin-right:20px ;
}

a {
  text-decoration: none;
}

.navbaritem {
  margin-left: 50px; 
}

.navbarlinks {
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;
  cursor: pointer;
}

.navbarlinks:hover {
  border-bottom: 2px solid black;
}

.shopping-cart-icon {
  width: 43px; 
  height: auto; 
  position: absolute;
  top: 10px; 
  right: 8px; 
  cursor: pointer;
}

.login-icon{
  width: 30px; 
  height: auto; 
  position: absolute;
  top: 10px; 
  right: 95px; 
}

.search-icon{
  width: 30px; 
  height: auto; 
  position: absolute;
  top: 10px; 
  right: 55px; 
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .navbar {
    flex-direction: column;
    height: auto;
  }
  #navbarlogo {
    margin-left: 0;
  }
  .navbarmenu {
    flex-direction: column;
    align-items: center;
  }
  .navbaritem {
    margin-left: 0;
  }
  .shopping-cart-icon, .login-icon, .search-icon {
    position: static;
    margin: 10px auto;
  }
}

.loginBox {
  width: 25em;
  height: 35em;
  position:relative;
  margin: 5% auto;
  background:rgb(175, 175, 175);
  padding: 10px;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .loginBox {
    width: 70%;
    height: 35em;
  }
}


.li-re-buttons
{
	width:220px;
	margin:40px auto;
	position:relative;
	box-shadow: 0 0 20px 9px rgba(255, 0, 0, 0.122);
	border-radius: 30px;
}

.btnSlider
{
	padding:10px 30px;
	cursor:pointer;
	background:transparent;
	border:0;
	outline: none;
	position: relative;
}

#liReSlider
{
	top: 0;
	left:0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: green;
	border-radius: 30px;
	transition: .5s;
}

.loginInput, .registerInput {
  position: absolute;
  transition: .5s;
}

.loginInput {
  top: 30%;
  width: 80%;
}

.registerInput {
  top: 30%;
  width: 80%;
}


@media only screen and (max-width: 600px) {
  .loginInput, .registerInput {
    width: 70%;
  }
}


.liReInput {
  width: 100%;
  padding:10px 0;
  margin:5px 0;
  border-left:0;
  border-top:0;
  border-right:0;
  border-bottom: 1px solid black;
  outline:none;
  background: transparent;
}

.submissionBtn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background:green;
  border: 0;
  outline: none;
  border-radius: 30px;
}



.check-box
{
	margin: 30px 10px 34px 0;
}
span
{
	color:black;
	font-size:12px;
	bottom:68px;
	position:absolute;
}
#login
{
	left:50px;
}
#login input
{
	color:black;
	font-size:15;
}
#register
{
	left: 450px;
}
#register input
{
	color:black;
	font-size: 15;
} 

footer{
  display: flex;
  flex-wrap: wrap;
}

.leftFooter{
  flex: 2;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px;
}

.footerTitle{
  font-size: x-large;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.leftFooterList{
  padding: 0px;
  list-style: none;
  margin-top: 15px;
}

.leftListItems{
  margin-bottom: 20%;
  color: gray;
  cursor: pointer;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}


.rightFooter{
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rightFooterTitle{
  font-size: large;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.footerInput{
  padding: 5px;
  margin-top: 20px;
}

.footerButton{
  padding: 5px;
  background-color: black;
  color: white;
  cursor: pointer;

}

.footerIcons{
  display: flex;
}

.footerIcon{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}


@media only screen and (max-width: 768px) {
  .leftFooter, .rightFooter {
    flex: 1 0 80%;
  }
}


@media only screen and (max-width: 480px) {
  .leftFooter, .rightFooter {
    flex: 1 0 80%;
  }
  .footerIcon{
    width: 15px;
    height: 15px;
  }
}

.copyright{
  font-weight: 300;
  font-size: 14px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.leftListItems a {
  text-decoration: none; 
  color: inherit;
}

.leftListItems a:hover {
  text-decoration: underline; 
}